.login {
  width: 100%;
  display: grid;
  place-items: center;
}
.form-container {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  border:1px solid var(--green);
  border-radius: 10px;
}
.title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }
  
}