:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --green: #21d2a3;
  --blue: #3c04a4;
  --light-blue:#00aee6;
  --grey: #c9d2e2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}


.color-blue
{
  color:var(--blue);
}

.bg-blue{
  background-color: var(--blue);
}

.bg-grey{
  background-color: var(--grey);
}

.color-black
{
  color: var(--black);
}

.color-light
{
  color:var(--light-blue);
}

.size-icon
{
  height: 40px;
}